.header {
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  background-color: rgb(129,124,255);
  margin-bottom: 25px;
}
.main-height {
  height: 70%;
}
.logo {
  background-color: rgb(57,57,57);
  width: 80px;
  composes: main-height;
  margin-left: 20px;
}
.input {
  margin-left: 20px;
  width: 60%;
  composes: main-height;
  background-color: #fff;
}
.button {
  background-color: rgb(98,96,168);
  composes: main-height;
  width: 80px;
  margin-left: 30px;
  border: none;
}
.icn {
  background-color: rgb(57,57,57);
  composes: main-height;
  width: 50px;
  margin-left: 30px;

}
