.cell {
    width: 48px;
    height: 48px;
    border: 1px solid rgb(57,57,57);
    cursor: pointer;
    background-size: cover;
    background-position: center center;
}
.miss {
    composes: cell;
    background-image: url('./assets/Miss.png');

}
.hit {
    composes: cell;
    background-image: url('./assets/Hit.png');
}